/* body */
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: antiquewhite;
}

h1 {
  font-size: 2em;
}

a,
button {
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.webpack-img {
  width: 100%;
}

.wrapper {
  &--popovers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
  }
}

.page-title {
  &--popovers {
    margin: 50px 0;
  }
}

.btn-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
